[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.poetry]
name = "mainpy"
version = "1.0.0"
description = "Simplify your project's main entrypoint definition with @main"
authors = ["Joren Hammudoglu <jhammudoglu@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/jorenham/mainpy"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Natural Language :: English",
    "Topic :: Software Development",
    "Topic :: Utilities",
    "Typing :: Typed",
]

[tool.poetry.dependencies]
python = "^3.8"
typing_extensions = { version = "^4.1", python = "<3.10"}

[tool.poetry.group.dev.dependencies]
pytest = "^7.4"
pyright = "^1.1"
uvloop = "^0.17"
click = "^8.1.5"
typer = "^0.9.0"


[tool.pyright]
include = ["mainpy"]
exclude = [".git", "dist",  "build", "**/__pycache__", "**/.pytest_cache"]
venv = ".venv"
pythonVersion = "3.8"
pythonPlatform = "Linux"
typeCheckingMode = "strict"
