name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    timeout-minutes: 1
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: install poetry
        run: pipx install poetry

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: 3.8
          cache: poetry

      - name: install
        run: poetry install --only=lint --sync

      - name: codespell
        run: poetry run codespell .

      - name: ruff check
        run: poetry run ruff check --output-format=github

  typecheck:
    timeout-minutes: 2
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python: ["3.8", "3.12"]

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: install poetry
        run: pipx install poetry

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: 3.8
          cache: poetry

      - name: install
        run: poetry install --only=typecheck --sync

      - name: pyright
        run: poetry run pyright

  test:
    timeout-minutes: 2

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python: ["3.8", "3.12"]

    runs-on: ${{ matrix.os }}

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: install poetry
        run: pipx install poetry

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
          cache: poetry

      - name: install
        run: poetry install --only=test,test-github --extras=uvloop --sync

      - name: pytest
        run: poetry run pytest
