name: CI
permissions: read-all

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lint:
    timeout-minutes: 5
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v6.0.2

      - name: markdownlint
        uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          config: ".markdownlint.yaml"
          globs: "*.md"

      - name: repo-review
        uses: scientific-python/repo-review@v0.12.3
        with:
          plugins: sp-repo-review

      - name: Install uv
        uses: astral-sh/setup-uv@v7.2.1
        with:
          python-version: "3.10"

      - name: codespell
        run: uv run codespell .

      - name: ruff check
        run: uv run ruff check --output-format=github

      - name: mypy
        run: uv run mypy .

      - name: basedpyright
        run: uv run basedpyright

      - name: basedpyright --verifytypes
        run: uv run basedpyright --ignoreexternal --verifytypes mainpy

  test:
    timeout-minutes: 5

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    runs-on: ${{ matrix.os }}

    steps:
      - name: checkout
        uses: actions/checkout@v6.0.2

      - name: setup uv
        uses: astral-sh/setup-uv@v7.2.1
        with:
          python-version: ${{ matrix.python-version }}

      - name: pytest
        run: uv run pytest
